.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: #f4f3ee; */
  color: slategray;
  width: 100%;
  height: 40vh;
}

.marker {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.markerHeader {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 1vh;
  align-content: space-between;
}

.markerTitle {
  font-size: 1.0em;
  font-weight: 600;
}

.markerBody {
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 1vh;
  gap: 1vh;
}

.markerLocation {
  font-style: normal;
}
