.map-header {
  background-color: lightblue;
  font-size: 2vh;
}

.map-container {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f4f3ee;
  color: slategray;
}
