.vis-unit {
  background-color: #a9d6e5;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  page-break-inside: avoid;
  box-sizing: border-box;
  width: 100%;
}

/* Force varying heights to simulate dynamic content */
/* .vis-unit:first-child {
    height: 320px;
  }
  
  .vis-unit:nth-child(2) {
    height: 200px;
  }
  
  .vis-unit:nth-child(3) {
    height: 265px;
  }
   */

