.container {
  background: white;
  gap: 1vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vh;
}

.marker {
  background-color: white;
}

.markerHeader {
  font-size: 2vh;
  font-weight: 500;
  padding-bottom: 1vh;
}

.markerBody {
  font-size: 1.5vh;
  font-weight: 300;
  padding-bottom: 1vh;
}

.markerLocation {
  font-style: italic;
}

.sliderContainer {
  font-size: 2vh;
  width: 80%;
}

.dateContainer {
  font-size: 1.8vh;
  width: 80%;
}
