.container {
  background: white;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.2fr auto 2.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "body body"
    "select plot";
  height: 100%;
}

.header {
  grid-area: header;
  font-size: 2.5vh;
  font-weight: 300;
  padding-left: 10px;
}

.body {
  grid-area: body;
  padding-left: 10px;
}
.select {
  grid-area: select;
}
.plot {
  grid-area: plot;
}


