.container {
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.8fr 1.9fr;
  gap: 5px 0px;
  grid-template-areas:
    "header"
    "body"
    "plot";
  height: 100%;
}

.header {
  grid-area: header;
  font-size: 2.5vh;
  font-weight: 300;
  padding-left: 10px;
}

.body {
  grid-area: body;
  padding-left: 10px;
}

.plot {
  grid-area: plot;
}
