.container {
  background-color: #e9ecef;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.7fr 0.1fr;
  grid-template-areas:
    "panelHeader"
    "panelMain"
    "panelFooter";
  overflow-x: hidden;
  overflow-y: hidden;
  left: 0;
  top: 0;
  height: 100vh;
  width: 15vw;
  padding-top: 4vh;
  color: black;
}

.header {
  grid-area: panelHeader;
  padding: 2vh 0vh 0vh 2vh;
  font-size: 3vh;
}

.headerText {
  font-weight: 700;
}

.headerTag {
  font-size: 2vh;
  width: 70%;
}

.main {
  grid-area: panelMain;
  padding: 2vh 0vh 0vh 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.plotSelector {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}

.mainHeader {
  font-size: 2vh;
  font-weight: 500;
}

.footer {
  grid-area: panelFooter;
  padding: 2vh 0vh 0vh 2vh;
}

.footer img {
  width: 1.5vw;
}


