.container {
  background-color: #e9ecef;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template:
    "sideHeader" 1fr
    "sideContent" 5fr
    "sideFooter" 1fr;

  padding-right: 1vw;
  color: black;
}

.header {
  grid-area: sideHeader;
  padding: 2vh 0vh 0vh 2vh;
  font-size: 3vh;
 
}

.headerText {
  font-weight: 700;
}

.headerTag {
  font-size: 2vh;
}

.content {
  grid-area: sideContent;
  padding: 2vh 0vh 0vh 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.plotSelector {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}

.mainHeader {
  font-size: 2vh;
  font-weight: 500;
}

.footer {
  grid-area: "sideFooter";
  padding: 2vh 0vh 0vh 2vh;
}

.footer img {
  width: 1.5vw;
}
