.container {
  position: fixed;
  display: grid;
  grid-template-columns: minmax(180px, 15vw);
  grid-template-rows: 0.4fr 2.4fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  color: white;
  height: 90vh;
  width: 100%;
}

.header {
  grid-area: header;
  padding-left: 2vh;
  padding-top: 2vh;
  font-size: 1.5em;
  width: 95%;
  word-wrap: break-word;
}

.headerText {
  font-weight: 700;
  font-size: 1.2em;
  padding-bottom: 1vh;
}

.headerTag {
  font-size: 0.8em;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 5%;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 60em) {
  .closeButton {
    visibility: hidden;
  }
}

.content {
  grid-area: content;
  padding: 5vh 0vh 0vh 2vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.mainHeader {
  font-size: 2vh;
  font-weight: 500;
}

.footer {
  grid-area: "footer";
  padding: 2vh 0vh 0vh 2vh;
  color: white;
  font-size: 0.8em;
}

.footer img {
  width: 60%;
}
