.container {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  column-gap: 2vh;
}

.blocks {
  font-size: 1.5vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  /* grid-template-columns: repeat(auto-fit, minmax(20%, 1fr)); */
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; */
  /* grid-auto-rows: 20; */
  gap: 1vh;
}

.buttons {
  display: flex;
  column-gap: 1vh;
  padding-top: 1vh;
}

.betterButton {
  font-family: inherit;
  font-weight: 350;
  width: 3.5vw;
  font-size: 2vh;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 3px 20px;
  border-width: initial;
  background-color: #01497c;
  color: white;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
}

.betterButton:hover {
  background-color: #61a5c2;
  color: white;
}
