.container {
  font-size: 2vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-areas:
    "map"
    "linechart";
  left: 0;
  top: 0;
  width: 95vw;
  color: black;
}

.map {
  grid-area: map;
}

.plots {
  grid-area: linechart;
}
