.container {
  font-size: 2vh;
  display: grid;
  grid-template-rows: 0.6fr 0.4fr;
  grid-template-areas:
    "map"
    "linechart";
  color: black;
  justify-content: center;
}

.map {
  grid-area: map;
}

.plots {
  grid-area: linechart;
}
