/* Give every child element its grid name */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top | horizontal | bottom */
  padding: 1vh 0.5vw 1vh;
  background-color: #648ca6;
  font-size: 2vh;
}
