.container {
  margin: 20px;
  padding: 20px;
  background-color: #f4f3ee;
  color: slategray;
  display: grid;
  grid-template-rows: 0.9fr 0.1fr;
  justify-content: center;
  grid-gap: 3vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center; /* adjusted */
}

.mapBox {
  width: 100%;
}

.sliderBox {
  width: 90%;
}

.marker {
  background-color: white;
}

.markerHeader {
  font-size: 2vh;
  font-weight: 500;
  padding-bottom: 1vh;
}

.markerBody {
  font-size: 1.5vh;
  font-weight: 300;
  padding-bottom: 1vh;
}

.markerLocation {
  font-style: italic;
}
