.container {
  padding: 2vw;
  padding-bottom: 2vh;
  background-color: #f4f3ee;
  color: slategray;
  display: grid;
  grid-template-rows: 0.9fr 0.1fr;
  grid-gap: 2vh;
  justify-content: center;
  justify-items: center;
}

.mapBox {
  width: 100%;
}

.sliderSection {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 90%;
}

.marker {
  background-color: white;
}

.markerHeader {
  font-size: 2vh;
  font-weight: 500;
  padding-bottom: 1vh;
}

.markerBody {
  font-size: 1.5vh;
  font-weight: 300;
  padding-bottom: 1vh;
}

.markerLocation {
  font-style: italic;
}

.sliderContainer {
  font-size: 2vh;
}

.dateContainer {
  font-size: 2vh;
}
