.content {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

.main {
  display: grid;
  grid-auto-rows: 20vh;
  grid-auto-columns: 100%;
  column-count: 1;
  margin: 1vw;
  margin-top: 3vh;
  row-gap: 2vh;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  justify-content: center;
}

.header {
  font-size: 2vh;
  font-weight: 500;
  color: #808080;
}

.mainSlim {
  display: grid;
  grid-auto-rows: 18vh;
  grid-auto-columns: 100%;
  column-count: 1;
  margin: 1vw;
  margin-top: 0px;
  row-gap: 2vh;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
