.main {
  display: grid;
  grid-auto-rows: 30vh;
  grid-auto-columns: 100%;
  column-count: 1;
  margin: 20px;
  row-gap: 3vh;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  justify-items: left;
}
