.container {
  background: white;
  display: grid;
  padding-top: 10px;
  gap: 5px 0px;
  grid-template-areas:
    "plot"
    "body"
    "buttons";
  height: 100%;
}

.body {
  grid-area: body;
  padding-left: 0.5vw;
  padding-top: 1vh;
  display: flex;
  justify-content: center;
}

.plot {
  grid-area: plot;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plot > img {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}

.buttons {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speciesButtons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.sectorButtons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.cbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
