.container {
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "date"
    "plot"
    "buttons"
    "body";
  height: 100%;
}

.header {
  grid-area: header;
  font-size: 2.5vh;
  font-weight: 300;
  padding-left: 10px;
}

.body {
  grid-area: body;
  padding-left: 0.5vw;
  display: flex;
  align-items: flex-end;
}

.plot {
  grid-area: plot;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plot > img {
  height: auto;
  width: auto;
  max-width: 450px;
  max-height: 450px;
}

.date {
  font-size: 1.8vh;
  padding-left: 0.5vw;
  padding-top: 0.5vh;
  width: 80%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
}
