.container {
  padding-bottom: 2vh;
}
.header {
  font-size: 1.8vh;
  padding-bottom: 1vh;
  font-weight: 400;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  font-size: 1.5vh;
  font-weight: 300;
  /* top | right | bottom | left */
  padding: 0vh 1vw 0vw 0vh;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}