.container {
  padding-bottom: 2vh;
}
.header {
  font-size: calc(12px + 0.2vw);
  padding-bottom: 1vh;
  font-weight: 400;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  font-size: calc(12px + 0.2vw);
  font-weight: 300;
  /* top | right | bottom | left */
  padding-right: 2vw;
  width: 100%;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}