/* This CSS is based on code available at https://codepen.io/trooperandz/pen/YRpKjo */

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans", Roboto, Noto Sans, Ubuntu, Droid Sans, "Helvetica Neue", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
}

/* Start with mobile friendly first */

.gridContainer {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 28px auto;
  grid-template-areas: "header" "content";
}

.menuIcon {
  position: fixed;
  /* Needs to stay visible for all mobile scrolling */
  display: flex;
  left: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  background-color: #648ca6;
  z-index: 5;
  color: white;
}

/* Make room for the menu icon on mobile */

.header__search {
  margin-left: 42px;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  transform: translateX(-245px);
  transition: all 0.6s ease-in-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 1001;
  /* Needs to sit above the hamburger menu icon */
  background: #2d5d7b;
}

.sidebar a:hover {
  color: #aaa;
}

.sidebar.active {
  transform: translateX(0);
}

.intro {
  width: 80%;
  padding-bottom: 3vh;
}

.timeseries {
  grid-area: timeseries;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.mapExplainer {
  grid-area: mapExplainer;
}

.siteMap {
  grid-area: siteMap;
  padding-bottom: 2vh;
}

/* Holds the content for the single column / explainer content */

.contentCards {
  column-count: 1;
  column-gap: 20px;
  margin: 20px;
}

/* Cards hold single column content */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.content {
  grid-area: content;
  display: grid;
  height: 100%;
  row-gap: 1vh;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas: "intro" "timeseries" "mapExplainer" "siteMap";
}

.explainerContent {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 4vh;
  padding-top: 1vh;
  padding-bottom: 3vh;
  grid-template-areas: "emissionsMap" "emissionsExplainer" "dispersionExplainer" "dispersionImage" "comparisonExplainer" "comparisonExplainer" "modelImprovement" "estimatesExplainer" "estimatesImage";
}

.faqContent {
  grid-area: content;
  display: flex;
  width: 100%;
  height: 100%;
}

.navLink {
  font-size: 1.4em;
  color: white;
}

/* .navLink a:hover {
  color: #648ca6;
}

.navLink :hover {
    color: #648ca6;
  } */

/* Non-mobile styles, 750px breakpoint */

@media only screen and (min-width: 60em) {
  /* Show the sidebar */
  .gridContainer {
    grid-template-columns: 240px 1fr;
    grid-template-areas: "header header" "sidebar content";
  }
  .header__search {
    margin-left: 0;
  }
  .sidebar {
    position: relative;
    transform: translateX(0);
  }
  .menuIcon {
    visibility: hidden;
  }
}

/* Medium screens breakpoint (1050px) */

@media only screen and (min-width: 65.625em) {
  .explainerContent {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 4vh 2vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    grid-template-areas: "emissionsMap emissionsExplainer" "dispersionExplainer dispersionImage" "comparisonExplainer comparisonExplainer" "modelImprovement modelImprovement" "estimatesExplainer estimatesImage";
  }
  .sidebarCloseIcon {
    display: none;
  }
  .contentCards {
    column-count: 2;
  }
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "intro intro" "timeseries timeseries" "mapExplainer siteMap";
  }
}

.intro {
  grid-area: intro;
}

.observations {
  grid-area: observations;
}

.emissionsMap {
  grid-area: emissionsMap;
}

.emissionsExplainer {
  grid-area: emissionsExplainer;
}

.modelMap {
  grid-area: modelMap;
}

.modelExplainer {
  grid-area: modelExplainer;
}

.dispersionExplainer {
  grid-area: dispersionExplainer;
}

.dispersionImage {
  grid-area: dispersionImage;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dispersionImage img {
  width: 90%;
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}

.comparisonExplainer {
  grid-area: comparisonExplainer;
}

.estimatesExplainer {
  grid-area: estimatesExplainer;
}

.estimatesImage {
  grid-area: estimatesImage;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.estimatesImage img {
  width: 75%;
  max-width: 100%;
  max-height: 100%;
}

.modelImprovement {
  grid-area: modelImprovement;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.modelImprovement img {
  max-width: 100%;
  max-height: 100%;
}

/* .modelImage {
  grid-area: modelImage;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modelImage img {
  max-width: 100%;
  max-height: 100%;
} */

.linkType,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.linkType a:hover {
  text-decoration: none;
  color: #2d5d7b;
}

.loaderContent {
  display: flex;
  width: 100%;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loaderRing {
  width: 160px;
  height: 160px;
}

.loaderRing:after {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #2D5D7B;
  border-color: #2D5D7B transparent #2D5D7B transparent;
  animation: loaderRing 1.5s linear infinite;
}

@keyframes loaderRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
