body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans", Roboto, Noto Sans, Ubuntu, Droid Sans, "Helvetica Neue", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: minmax(180px, 15vw) 85vw;
  grid-template-rows: minmax(28px, 4vh) auto;
  grid-template-areas:
    "header  header"
    "sidebar content";
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  background-color: #648ca6;
  z-index: 5;
  color: white;
}

.sidebar {
  grid-area: sidebar;
  /* position: relative; */
  background: #2d5d7b;
  overflow: hidden;
  height: 100%;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.9fr auto auto auto;
  gap: 4vh 2vw;
  grid-template-areas:
    "observations observations"
    "mapExplainer sitemap"
    "emissionsMap emissionsExplainer"
    "modelExplainer modelMap";
}

.observations {
  grid-area: observations;
}
.mapExplainer {
  grid-area: mapExplainer;
}
.sitemap {
  grid-area: sitemap;
}
.emissionsMap {
  grid-area: emissionsMap;
}
.emissionsExplainer {
  grid-area: emissionsExplainer;
}
.modelMap {
  grid-area: modelMap;
}
.modelExplainer {
  grid-area: modelExplainer;
}

.plotAdvice {
  color: #222222;
  font-size: 2vh;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 30vh;
  background-color: #f4f3ee;
  color: slategray;
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover:before {
  background-color: #222;
}

.nav-icon:hover:after {
  background-color: #222;
}

.nav-icon:hover div {
  background-color: #222;
}
