/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans", Roboto, Noto Sans, Ubuntu, Droid Sans, "Helvetica Neue", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
}

.gridContainer {
  display: grid;
  grid-template-columns: minmax(180px, 15vw) 85vw;
  grid-template-rows: 4fr 96fr;
  grid-template-areas:
    "header  header"
    "sidebar content";
}

/* .gridContainer {
    display: grid;
    grid-template-columns: minmax(180px, 15vw) 85vw;
    grid-template-rows: 4fr 96fr;
    grid-template-areas:
      "header  header"
      "sidebar content";
  } */

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  background-color: #648ca6;
  z-index: 5;
  color: white;
}

.sidebar {
  grid-area: sidebar;
  /* position: relative; */
  background: #e9ecef;
  overflow: hidden;
  height: 1fr;
}

.content {
  background-color: #f4f3ee;
  /* display: grid;
  grid-template:
    "plotHeader" 7.5fr
    "plotContent" 92.5fr;
  height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 0.2fr 1.3fr;
  gap: 0px 0px;
  /* grid-auto-flow: row; */
  grid-template-areas:
    "emissions model"
    "dateSlider dateSlider"
    "observations observations";
  height: 100vh;
}

.emissions {
  grid-area: emissions;
}
.model {
  grid-area: model;
}
.dateSlider {
  grid-area: dateSlider;
}
.observations {
  grid-area: observations;
}

.plotAdvice {
  color: #222222;
  font-size: 2vh;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  height: 30vh;
  background-color: #f4f3ee;
  color: slategray;
}

.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 0.2s ease-in-out;
}

.nav-icon:hover:before {
  background-color: #222;
}

.nav-icon:hover:after {
  background-color: #222;
}

.nav-icon:hover div {
  background-color: #222;
}
